.alert {
    margin-bottom: 1px;
    height: 31px;
    line-height:31px;
    padding:0px 15px;
  }

 .selectpicker{
    margin-bottom: 1px;
    height: 31px;
    line-height:31px;
    padding:0px 15px;
  }